* {
  box-sizing: border-box;
}

/* Style the navigation bar */
.topnavbar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 2px;
	background-color: #c67773;
	overflow: auto;
}

/* Navbar links */
.topnavbar a {
	float: left;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 12px;
	text-decoration: none;
	font-size: 17px;
}

#logo {
	float: left;
    color: #311de8;
    margin-right: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.container1 {    
  width: 50%;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto
}

.container1 h1{
    font-size: 50px;
    margin-top: 100px;
    color: #311de8;
}
#item {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px #311de8;
}
.index{
  background-image: url("img/background.png");
  background-repeat: no-repeat scroll left center;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
  height: 100%;
  text-align: center;
}

#questions, #signin, #signup, #admin {
	float: right;
    color: #111111;
    margin-right: 5px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 24px;
    font-weight: bold;
}

#questions:hover, #signin:hover, #signup:hover, #admin:hover {
	background: #3186c6;
}

.row1 {
	margin-top: 80px;
	margin-left: 70px;
	margin-right: 70px;
  overflow: auto;
}

.column1 {
	margin-top: 0px;
	float: left;
	width: 33.33%;
	padding: 3px;

}

#myImg {
	width: 420px;
	height: 250px;
	border-radius: 20px;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
  	text-align: center;
  	margin-left: auto;
  	margin-right: auto;
  	padding: 2px;
  	text-decoration: none;
  	font-size: 17px;
  	width: 100%;
  	background-color: #c67773;
  	overflow: auto;
}


/* Sign up form*/
/* Input fields width */
input[type=text], input[type=password] {
	width: 100%;
	padding: 10px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #a4c2f2;
  outline: none;
}

input[type=checkbox] {
	margin-bottom: 10px;
}

.terms {
	color:#1f619b;
}

/* buttons style*/
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
  color: #4253f4;
}
.cancelbtn {
  height: 45px;
  background-color: #f44336;

}

.cancelbtn:hover {
	color: #b71717;
}

/* Floats the cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
	float: left;
	width: 50%;
	border-radius: 18px;
}

/* Add padding to container elements */
.container {
	padding: 16px;
}

/* signup (background) */
.signup {
	padding-top: 40px;
	dposition: fixed;
}
/* form Content */
.form-content {
  background-color: #9a9ca0;
  margin: 2% auto 15% auto; /* 3% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  height: 615px;
  width: 50%;
  padding: 10px;
}

/* Sign in  */
.signin {
	padding-top: 20px;
}

/* form2 Content */
.form2-content {
  background-color: #9a9ca0;
  margin: 7% auto auto auto; /* 3% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  height: 415px;
  width: 35%;
  padding: 10px;
}

/* meetup page */
.meetup {
	margin-top: 20px;
	margin: 0 auto auto auto;
	background: #;
	height: 100%;
	width: 70%;
	overflow: auto;
  display: block;
}

.container2 {
	margin-top: 70px;
	margin-bottom: 30px;
	height: 100%;
}


/* likes and dislikes */
.like, .dislike, .comment{
  font-size: 15px;
  cursor: pointer;
  user-select: none;
}

.like{
	color: #08347a;
} 
.like:hover {
	color: #0f6bff;
}
.dislike{
	color: #ce1818;
}

.dislike:hover {
	color: #fc0f0f;
}
.comment{
	color: #fff7f7;
}

button[type=ask] {
  background-color: #4CAF50;
  color: white;
  padding: 1px;
  border: none;
  cursor: pointer;
  width: 12%;
  opacity: 0.9;
}

button[type=ask]:hover {
  opacity:1;
  color: #4253f4;
}
.askbtn {
	float: left;
	border-radius: 21px;
	padding: 1px;
}

/* Profile */
h4 {
  color: #196de5
}
.column2, .column3, .column4 {
  margin-top: 0px;
  float: left;
  width: 33.33%;
  padding: 20px;
  border-right: 1px solid;
  height: 850px;
}

#date {
  font-style: italic;
  color: #ea0460;
}

#meetup{
  font-style: italic;
  color: #0233d6;
}

.column5, .column6 {
  margin-top: 0px;
  float: left;
  height: 850px;
}

.column5 {
   border-right: 1px solid;
    width: 50%;
    padding-left: 1px;
}

.column6 {
    width: 50%;
    padding: 20px;
}
.container{
    width: 100%;
    padding: 0px;
    clear: both;
}
button[type=button]{
  width: 150px;
  padding: 5px;
  border-radius: 17px;
}
.fa{
  font-size: 38px;
  padding-left: 10px;
  cursor: pointer;
}
.edit{
  color: #1152dd;
}

.trash{
  color: #d6395e;
}

.edit:hover {
  color: #fcfcff;
  background-color: #0461f7;
}

.trash:hover {
  color: #fcfcff;
  background: #f7042c;
}


@media screen and (max-width:600px) {
  .column1 {
    width: auto;
    padding: 2px;
    float: none;
  }
  .topnavbar a {
  	float: none;
    display: block;
    text-align: center;
    width: 50%;
    padding: 6px;
  }
.container1 {    
  width: auto;
}
 #questions, #signin, #signup, #admin {
 	float: none;
 	margin-right:auto;
 	margin-right:auto;
    font-size: 14px;
 }
 .row1 {
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;


}
#myImg {
	width: 520px;
	height: 250px;
	border-radius: 20px;

}
.cancelbtn, .signupbtn {
     width: 100%;
     padding: 10px;
  }


input[type=text], input[type=password] {
	width: 100%;
	padding: 10px;
	margin: 1px 0 2px 0;
}
input[type=checkbox] {
	margin-bottom: 3px;
}
.term {
	font-size: 80%;
}
.signup .signin { 
  left: 0;
  top: 50px;
  width: 100%; 
  height: 100%;
  padding-top: 1px;
  overflow: auto;
}
.form-content {
  margin: 50% auto 25% auto; /* 3% from the top, 15% from the bottom and centered */
  height: 70%;
  width: 90%;
  overflow: auto; 
}
.form2-content {
  margin: 50% auto 25% auto; /* 3% from the top, 15% from the bottom and centered */
  height: 80%;
  width: 90%;
  overflow: auto;
}
.container2 {
	margin-top: 270px;
	margin-bottom: 30px;
	height: 100%;
	font-size: 10px;
	padding:
}
.like, .dislike, .comment{
  font-size: 10px;
  cursor: pointer;
  user-select: none;
  display: block;
}
button[type=ask] {
  width: 53%;
  opacity: 0.9;
  font-size: 12px;
}
.askbtn {
  float: left;
  border-radius: 21px;
  padding: 1px;
}
}